@tailwind base;
@tailwind components;
@tailwind utilities;
@layer{
    .animation-delay-2000 {
        animation-delay: 2s;
    }
    .animation-delay-4000 {
        animation-delay: 4s;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,300&display=swap');
body{
    font-family: 'Source Code Pro', monospace;
}